@import "../css/base.scss";
$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #4081dd;

.zmiti-index-main-ui {
	overflow: hidden;
	width: 10rem;
	left: 50% !important;
	margin-left: -$viewW/2;
	background: $bgColor;

	opacity:0;
	z-index: -1;

	&.show{
		opacity: 1;
		z-index: 10;
	}

	.zmiti-year{
		width: 2rem;
		margin: 6vh auto 0;
		@include pos(r);
		z-index: 10;
	}

	.zmiti-title1{
		width: 7rem;
		margin: 2vh auto 0;
		@include pos(r);
		z-index: 10;
	}
	.zmiti-cloud{
		@include pos(a);
		top: 6vh;
		width: 16rem;
		left: -3rem;
		&.active{

			@include animation(rotate1 .8s  linear forwards);
		}
	}
	
	.zmiti-xiongan{
		@include pos(a);
		top: 20%;
		&.active{

			@include animation(rotate1 .8s  linear forwards);
		}
	}
	.zmiti-cloud2{
		z-index: 1000;
	}
	.zmiti-text{
		@include pos(a);
		width: 9rem;
		left: .5rem;
		bottom: 2rem;
		z-index: 101;
		color:#364b6a;
		font-size: 20px;
		text-indent: 2em;
		line-height: .6rem;
	}

	.zmiti-logo{
		width: 3rem;
		@include pos(a);
		bottom: .4rem;
		color:#333;
		right: .2rem;
		text-align: center;
		font-size: 18px;
		img{
			width: .8rem;
			display: block;
			margin: 0 auto .1rem;

		}
	}

	.zmiti-entry{
		width: 2rem;
		text-align: center;
		background: #fff;
		line-height: .8rem;
		@include br(10px);
		@include pos(a);
		left: 4rem;
		bottom: .5rem;

		z-index: 10;
		color:#ca141f;
		font-size: .45rem;

		@include animation(scale 1s linear infinite alternate);
	}


}

@-webkit-keyframes rotate1{
	to{
		@include transform(rotate(360deg) scale(2));
		opacity:0
	}
}

.zmiti-loading {
	z-index: 1000;

	.zmiti-loading-ui {
		width: 6rem;
		left: 2rem;
		@include pos(a);
		top: 6rem;

		.zmiti-loading-bar {
			width: 2rem;
			@include br(10px);

			&:before {
				content: '';
				@include br(10px);
				@include pos(a);
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				box-shadow: 0 0 3px rgba(255, 255, 255, .5);
			}

			//height: 1rem;
			@include pos(r);
			margin: 0 auto;

			.zmiti-target {
				$size: .4rem;
				width: $size;
				height: $size;
				@include br();
				background: #fff;
				left: 50%;
				top: .4rem;
				@include pos(a);
				margin-left: -$size/2;
				@include animation(scale linear 2s  infinite alternate);
			}

		}

		.zmiti-progress {
			margin-top: .5rem;
			text-align: center;
			color: #fff;
			font-family: Georgia;
			font-size: .7rem;
		}

	}

}

.zmiti-play {
}
