@import "../css/base.scss";
$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

.zmiti-tree-main-ui {
	overflow: hidden;
	width: 10rem;
	background: $bgColor;
	z-index: 110;
	opacity: 1;
	@include transform3d();

	&.main-enter-active, &.main-leave-active {
		@include transition(.5s);
	}

	&.main-enter, &.main-leave-to {
		opacity: 0;
	}

	.zmiti-btn {
		@include pos(a);
		width: 2.4rem;
		height: .8rem;
		background: #fff;
		line-height: .8rem;
		text-align: center;
		color: #ae5553;
		right: .4rem;
		bottom: .4rem;
		@include br(10px);
	}


	.zmiti-main{
		left: 3.8rem;
	}

	.zmiti-team {
		right: auto;
		left: .4rem;
	}

	.zmiti-list {
		left: 50%;
		@include transform(translate3d(-50%, 0, 0));
	}

	ul.zmiti-subject-list {
		width: 7rem;
		left: 1.5rem;
		top: 18vh;
		@include pos(a);
		height: 65vh;
		z-index: 1;

		&:before {
			content: '';
			@include pos(a);
			width: $viewW*1.5;
			height: 50%;
			left: 50%;
			margin-left: -$viewW*.75;
			bottom: -3rem;
			background: #fefddf;
			@include br();
			z-index: 0;
			display: none;
			//
		}

		li {
			background: #fff;
			border: 5px solid #e6cda4;
			box-sizing: border-box;
			@include displayBox(vertical);

			.zmiti-voice-title {
				height: 1rem;
				width: 100%;
				@include pos(a);
				left: 0;
				top: 0;

				img {
					height: .5rem;
					width: auto;
					margin-top: .05rem;
				}

				span {
					color: #8d3836;
					background: #f3eece;
					@include br(4px);
					font-size: .36rem;
					padding: 8px;

					&:nth-of-type(1) {
					}

					&:nth-of-type(2) {
						@include pos(a);
						font-size: .45rem;
						right: 0;
						top: 0;
					}

				}

			}

			.zmiti-voice-name {
				color: #8d3836;
				text-align: center;
				
				font-size: .4rem;
				/* height: 1rem;
				line-height: 1rem; */
				margin: .2rem auto;
				width: 100%;
				//width: 4.4rem;
				@include pos(r);

				&:before {
					@include pos(a);
					content: '';
					bottom: 5px;
					left: 0;
					width: 100%;
					height: 2px;
					display: none;
					@include fly-h-gradient-line;
				}

			}

			.zmiti-ar {
				@include pos(a);
				bottom: 0rem;
				left: .2rem;
				height: .7rem;
				width: 1rem;

				&>div {
					@include pos(a);
					width: 1rem;
					height: 3px;
					background: #8d3836;
					bottom: .2rem;

					&:before {
						content: '';
						@include pos(a);
						width: .3rem;
						height: 3px;
						@include transform(rotate(-45deg));
						@include transformOrigin(left);
						left: 0;
						top: 0;
						background: #8d3836;
					}

				}

				&.zmiti-ar1 {
					@include transform(rotateY(180deg));
					right: .2rem;
					left: auto;
				}

			}

			.zmiti-operator {
				@include displayBox(horizontal);
				z-index: 10012;
				width: 80%;
				left: 10%;
				height: 80px;
				top: auto;
				background: #ae5553;
				text-align: center;

				canvas {
					display: block;
					border: none;
					border-right: 1px solid #8d3836;
				}

				section {
					text-align: center;
					width: .8rem;
					height: 100%;
					-webkit-box-flex: 1;
					line-height: 80px;

					&:nth-of-type(2) {
						img {
							&.rotate {
								@include animation(rotate 1s linear);
							}

						}

					}

					img {
						width: .6rem;
					}

				}

			}

			canvas {
				left: 112px;
				//@include transform(rotateX(180deg));
			}

			&.zmiti-page-item {
				@include transition_transform(.4s);
			}

			.zmiti-img-C {
				@include pos(r);
				width: 4.0rem;

				/* left: 50%;
				margin-left: -2.3rem; */
				@include transform3d();


				&>div{
					@include pos(a);
					background: rgba(178, 77, 86,.75);
					bottom: 0;
					left: 0;
					z-index: 10;
					color:#fef9ea;
					font-size: .3rem;
					padding: .1rem 0;
					width: 100%;
					font-size: 20px;
					text-align: center;
					letter-spacing: 2px;
					//border-top-right-radius: 18px;
				}

				&:after {
					content: '';
					width: 100%;
					height: .6rem;
					@include br();
					@include pos(a);
					left: 0;
					bottom: -1.5rem;
					//background: rgba(0, 0, 0, .3);
					//-webkit-filter: blur(10px);
				}

				&:before {
					content: '';
					@include pos(a);
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					box-shadow: 0 0 0 8px #ae5553;
				}

			}

			&.left {
				opacity: 1;
				//@include transform(scale(.7) translate3d(-$viewW/1.5, 0, 0));
				@include transform(translate3d(-5.66667rem, 0, 0) rotateY(90deg));
			}

			&.transition {
				@include transition_transform(.4s);
			}

			&.left1 {
				opacity: 0;
				//@include transition_transform(.4s);
				//@include transform(scale(.7) translate3d(-5.66667rem, 0, 0));
				@include transform(translate3d(-$viewW, 0, 0) rotateY(90deg));
			}

			&.right {
				opacity: 1;
				@include transform(translate3d(5.66667rem, 0, 0) rotateY(-90deg));
			}

			&.right1 {
				opacity: 0;
				// @include transition_transform(.4s .22s);
				@include transform(translate3d($viewW, 0, 0) rotateY(-90deg));
			}

			&.active {
				@include transform(rotateY(0));
				z-index: 100;
			}

		}

	}

}

.zmiti-team-main-ui {
	z-index: 1010;
	background: $bgColor;
	@include displayBox(vertical);
	color: #6b5419;
	opacity: 1;

	&.team-enter-active, &.team-leave-active {
		@include transition(.5s);
	}

	&.team-enter, &.team-leave-to {
		opacity: 0;
	}

	.zmiti-team-main {
		color: #880d07;
		margin-top: 1rem;

		&>h1 {
			@include displayBox(horizontal);
			width: 9.7rem;
			font-weight: normal;
			font-size: .6rem;
			height: 2rem;

			&>div:nth-of-type(1), &>div:nth-of-type(3) {
				margin-top: 40px;
			}

			&>div:last-of-type {
			}

		}

		&>section {
			&.zmiti-copyright {
				@include pos(r);
				line-height: 1.6rem;

				&:before {
					content: '';
					@include pos(a);
					width: 100%;
					height: 1px;
					background: rgba(0, 0, 0, .2);
					left: 0;
					top: 0;
				}

			}

			font-size: .4rem;
			width: 8rem;
			margin: 0 auto;
			line-height: .7rem;

			span {
				padding: 0 10px;
			}

		}

		.zmiti-back {
			background: #ebdfb5;
			width: 2rem;
			height: .7rem;
			line-height: .7rem;
			text-align: center;
			@include br(8px);
			margin: .5rem auto;
			font-size: .4rem;
			box-shadow: 0 4px 4px  rgba(0, 0, 0, .5);
		}

	}

}

.zmiti-voice-list {
	z-index: 1000;
	margin: 0vh auto 0;

	@include displayBox(vertical);

	&.list-enter-active, &.list-leave-active {
		@include transition(.5s);
	}

	&.list-enter, &.list-leave-to {
		opacity: 0;
	}

	ul {
		@include pos(r);
		width: 9.8rem;
		left: .1rem;
		//top: 6vh;

		&:after {
			content: '点击图片收听';
			@include pos(a);
			left: 50%;
			top: 100%;
			width: 3rem;
			line-height: .7rem;
			height: .7rem;
			background: #fff;
			font-size: .4rem;
			@include transform(translate3d(-50%, 0, 0) scale(.7));
			color: #8d3836;
			text-align: center;
		}

	}

	ul.zmiti-daibiao{
		left: 0;
		li{
			width: 100%;
			text-align: center;
			div{

				width: .9rem;
				margin: .2rem .3rem .2rem 0;
				font-size: 0;
				&:nth-of-type(8n) {
					margin-right: 0;
				}
			}
		}
	}

	ul.zmiti-buzhang,ul.zmiti-weiyuan{
		li{
			&:last-of-type {
				margin: .1rem 0;
				text-align: center;

				div {
					margin: .2rem .3rem .2rem 0;

					&:nth-of-type(6n) {
						margin-right: 0;
					}

				}

			}
		}
	}

	li {
		div {
			display: inline-block;
			width: 1.2rem;
			box-shadow: 3px 3px 3px rgba(0, 0, 0, .44);
			opacity: .3;

			&.show {
				opacity: 1;
				@include transition(.2s opacity);
			}

		}

		box-sizing: border-box;
		//border: 1px solid red;

		&:nth-of-type(1), &:nth-of-type(3) {
		}

		@include displayBox(horizontal);

		div {
			margin-right: 20px;
			margin-top: 20px;
			border: 1px solid #fff;
			box-sizing: border-box;

			&:last-of-type {
				margin-right: 0;
			}

		}

		

	}

}
