@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-tree-main-ui {
  overflow: hidden;
  width: 10rem;
  background: #fcfff8;
  z-index: 110;
  opacity: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px; }
  .zmiti-tree-main-ui.main-enter-active, .zmiti-tree-main-ui.main-leave-active {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .zmiti-tree-main-ui.main-enter, .zmiti-tree-main-ui.main-leave-to {
    opacity: 0; }
  .zmiti-tree-main-ui .zmiti-btn {
    position: absolute;
    width: 2.4rem;
    height: .8rem;
    background: #fff;
    line-height: .8rem;
    text-align: center;
    color: #ae5553;
    right: .4rem;
    bottom: .4rem;
    border-radius: 10px; }
  .zmiti-tree-main-ui .zmiti-main {
    left: 3.8rem; }
  .zmiti-tree-main-ui .zmiti-team {
    right: auto;
    left: .4rem; }
  .zmiti-tree-main-ui .zmiti-list {
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
  .zmiti-tree-main-ui ul.zmiti-subject-list {
    width: 7rem;
    left: 1.5rem;
    top: 18vh;
    position: absolute;
    height: 65vh;
    z-index: 1; }
    .zmiti-tree-main-ui ul.zmiti-subject-list:before {
      content: '';
      position: absolute;
      width: 1125px;
      height: 50%;
      left: 50%;
      margin-left: -562.5px;
      bottom: -3rem;
      background: #fefddf;
      border-radius: 50%;
      z-index: 0;
      display: none; }
    .zmiti-tree-main-ui ul.zmiti-subject-list li {
      background: #fff;
      border: 5px solid #e6cda4;
      box-sizing: border-box;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: vertical; }
      .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-voice-title {
        height: 1rem;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-voice-title img {
          height: .5rem;
          width: auto;
          margin-top: .05rem; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-voice-title span {
          color: #8d3836;
          background: #f3eece;
          border-radius: 4px;
          font-size: .36rem;
          padding: 8px; }
          .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-voice-title span:nth-of-type(2) {
            position: absolute;
            font-size: .45rem;
            right: 0;
            top: 0; }
      .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-voice-name {
        color: #8d3836;
        text-align: center;
        font-size: .4rem;
        /* height: 1rem;
        line-height: 1rem; */
        margin: .2rem auto;
        width: 100%;
        position: relative; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-voice-name:before {
          position: absolute;
          content: '';
          bottom: 5px;
          left: 0;
          width: 100%;
          height: 2px;
          display: none;
          background: -webkit-gradient(linear, left top, right top, from(rgba(225, 225, 2, 0.2)), color-stop(0.5, #e1e102), to(rgba(225, 225, 2, 0.2)));
          background: -moz-linear-gradient(left, rgba(225, 225, 2, 0.2), #e1e102 50%, rgba(225, 225, 2, 0.2));
          background: -ms-linear-gradient(left, rgba(225, 225, 2, 0.2), #e1e102 50%, rgba(225, 225, 2, 0.2)); }
      .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-ar {
        position: absolute;
        bottom: 0rem;
        left: .2rem;
        height: .7rem;
        width: 1rem; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-ar > div {
          position: absolute;
          width: 1rem;
          height: 3px;
          background: #8d3836;
          bottom: .2rem; }
          .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-ar > div:before {
            content: '';
            position: absolute;
            width: .3rem;
            height: 3px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: left;
            transform-origin: left;
            left: 0;
            top: 0;
            background: #8d3836; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-ar.zmiti-ar1 {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
          right: .2rem;
          left: auto; }
      .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-operator {
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-box-orient: horizontal;
        z-index: 10012;
        width: 80%;
        left: 10%;
        height: 80px;
        top: auto;
        background: #ae5553;
        text-align: center; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-operator canvas {
          display: block;
          border: none;
          border-right: 1px solid #8d3836; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-operator section {
          text-align: center;
          width: .8rem;
          height: 100%;
          -webkit-box-flex: 1;
          line-height: 80px; }
          .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-operator section:nth-of-type(2) img.rotate {
            -webkit-animation: rotate 1s linear;
            animation: rotate 1s linear; }
          .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-operator section img {
            width: .6rem; }
      .zmiti-tree-main-ui ul.zmiti-subject-list li canvas {
        left: 112px; }
      .zmiti-tree-main-ui ul.zmiti-subject-list li.zmiti-page-item {
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s; }
      .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-img-C {
        position: relative;
        width: 4.0rem;
        /* left: 50%;
        margin-left: -2.3rem; */
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        perspective: 800px;
        -webkit-perspective: 800px; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-img-C > div {
          position: absolute;
          background: rgba(178, 77, 86, 0.75);
          bottom: 0;
          left: 0;
          z-index: 10;
          color: #fef9ea;
          font-size: .3rem;
          padding: .1rem 0;
          width: 100%;
          font-size: 20px;
          text-align: center;
          letter-spacing: 2px; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-img-C:after {
          content: '';
          width: 100%;
          height: .6rem;
          border-radius: 50%;
          position: absolute;
          left: 0;
          bottom: -1.5rem; }
        .zmiti-tree-main-ui ul.zmiti-subject-list li .zmiti-img-C:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          box-shadow: 0 0 0 8px #ae5553; }
      .zmiti-tree-main-ui ul.zmiti-subject-list li.left {
        opacity: 1;
        -webkit-transform: translate3d(-5.66667rem, 0, 0) rotateY(90deg);
        transform: translate3d(-5.66667rem, 0, 0) rotateY(90deg); }
      .zmiti-tree-main-ui ul.zmiti-subject-list li.transition {
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s; }
      .zmiti-tree-main-ui ul.zmiti-subject-list li.left1 {
        opacity: 0;
        -webkit-transform: translate3d(-750px, 0, 0) rotateY(90deg);
        transform: translate3d(-750px, 0, 0) rotateY(90deg); }
      .zmiti-tree-main-ui ul.zmiti-subject-list li.right {
        opacity: 1;
        -webkit-transform: translate3d(5.66667rem, 0, 0) rotateY(-90deg);
        transform: translate3d(5.66667rem, 0, 0) rotateY(-90deg); }
      .zmiti-tree-main-ui ul.zmiti-subject-list li.right1 {
        opacity: 0;
        -webkit-transform: translate3d(750px, 0, 0) rotateY(-90deg);
        transform: translate3d(750px, 0, 0) rotateY(-90deg); }
      .zmiti-tree-main-ui ul.zmiti-subject-list li.active {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        z-index: 100; }

.zmiti-team-main-ui {
  z-index: 1010;
  background: #fcfff8;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  color: #6b5419;
  opacity: 1; }
  .zmiti-team-main-ui.team-enter-active, .zmiti-team-main-ui.team-leave-active {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .zmiti-team-main-ui.team-enter, .zmiti-team-main-ui.team-leave-to {
    opacity: 0; }
  .zmiti-team-main-ui .zmiti-team-main {
    color: #880d07;
    margin-top: 1rem; }
    .zmiti-team-main-ui .zmiti-team-main > h1 {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal;
      width: 9.7rem;
      font-weight: normal;
      font-size: .6rem;
      height: 2rem; }
      .zmiti-team-main-ui .zmiti-team-main > h1 > div:nth-of-type(1), .zmiti-team-main-ui .zmiti-team-main > h1 > div:nth-of-type(3) {
        margin-top: 40px; }
    .zmiti-team-main-ui .zmiti-team-main > section {
      font-size: .4rem;
      width: 8rem;
      margin: 0 auto;
      line-height: .7rem; }
      .zmiti-team-main-ui .zmiti-team-main > section.zmiti-copyright {
        position: relative;
        line-height: 1.6rem; }
        .zmiti-team-main-ui .zmiti-team-main > section.zmiti-copyright:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: rgba(0, 0, 0, 0.2);
          left: 0;
          top: 0; }
      .zmiti-team-main-ui .zmiti-team-main > section span {
        padding: 0 10px; }
    .zmiti-team-main-ui .zmiti-team-main .zmiti-back {
      background: #ebdfb5;
      width: 2rem;
      height: .7rem;
      line-height: .7rem;
      text-align: center;
      border-radius: 8px;
      margin: .5rem auto;
      font-size: .4rem;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); }

.zmiti-voice-list {
  z-index: 1000;
  margin: 0vh auto 0;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical; }
  .zmiti-voice-list.list-enter-active, .zmiti-voice-list.list-leave-active {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .zmiti-voice-list.list-enter, .zmiti-voice-list.list-leave-to {
    opacity: 0; }
  .zmiti-voice-list ul {
    position: relative;
    width: 9.8rem;
    left: .1rem; }
    .zmiti-voice-list ul:after {
      content: '点击图片收听';
      position: absolute;
      left: 50%;
      top: 100%;
      width: 3rem;
      line-height: .7rem;
      height: .7rem;
      background: #fff;
      font-size: .4rem;
      -webkit-transform: translate3d(-50%, 0, 0) scale(0.7);
      transform: translate3d(-50%, 0, 0) scale(0.7);
      color: #8d3836;
      text-align: center; }
  .zmiti-voice-list ul.zmiti-daibiao {
    left: 0; }
    .zmiti-voice-list ul.zmiti-daibiao li {
      width: 100%;
      text-align: center; }
      .zmiti-voice-list ul.zmiti-daibiao li div {
        width: .9rem;
        margin: .2rem .3rem .2rem 0;
        font-size: 0; }
        .zmiti-voice-list ul.zmiti-daibiao li div:nth-of-type(8n) {
          margin-right: 0; }
  .zmiti-voice-list ul.zmiti-buzhang li:last-of-type, .zmiti-voice-list ul.zmiti-weiyuan li:last-of-type {
    margin: .1rem 0;
    text-align: center; }
    .zmiti-voice-list ul.zmiti-buzhang li:last-of-type div, .zmiti-voice-list ul.zmiti-weiyuan li:last-of-type div {
      margin: .2rem .3rem .2rem 0; }
      .zmiti-voice-list ul.zmiti-buzhang li:last-of-type div:nth-of-type(6n), .zmiti-voice-list ul.zmiti-weiyuan li:last-of-type div:nth-of-type(6n) {
        margin-right: 0; }
  .zmiti-voice-list li {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .zmiti-voice-list li div {
      display: inline-block;
      width: 1.2rem;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.44);
      opacity: .3; }
      .zmiti-voice-list li div.show {
        opacity: 1;
        -webkit-transition: 0.2s opacity;
        transition: 0.2s opacity; }
    .zmiti-voice-list li div {
      margin-right: 20px;
      margin-top: 20px;
      border: 1px solid #fff;
      box-sizing: border-box; }
      .zmiti-voice-list li div:last-of-type {
        margin-right: 0; }

/*# sourceMappingURL=index.css.map */
